<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VHS</title>


    <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.css">
    <script type="text/javascript" charset="utf8" src="static/DataTables/datatables.js"></script>

    <!--Run Datatabe magic via js-->
    <script type="text/javascript" src="static/js/dataTable.js" rel="script"></script>

</head>
<body>

<div class="container">
    <div class="row justify-content-md-center">
        <table id="movies_list" class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>