.crop {
    width: 900px;
    height: 400px;
    overflow: hidden;
    padding-bottom: 30px;
}

.crop img {
    width: 100%;
    margin: -160px 0 0 0px;
}

body {
    background-color: #b5b5b5;
}

.container {
    padding-top: 100px;
    box-shadow: 6px 6px 6px 6px #888888;
    background-color: #343a40;
}

#movies_list_wrapper {
    background-color: #343a40;
    padding: 20px;
    color: white
}

#logo {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    background-color: RGBA(10, 0, 0, 0.2);
    padding: 4px 14px 4px 14px;
    border-radius: 2px;

}

#navbar {
    background-color: #1c1c1c;
    color: whitesmoke;
    background-image: url('/img/filmstrip.jpg');
    background-repeat: repeat-x;
    background-size: contain;
    height: 100px;
}

.navbar-toggler {
    border-color: lightblue;

}